@model IEnumerable<FinalProject.Models.TProduct>

@{
    ViewData["Title"] = "後台管理系統";
}

<div class="d-flex justify-content-center">
    <table>
        <tbody>
            <tr>
                <td class="align-middle text-center"><img src="~/images/logo/logo.jpg"></td>
            </tr>
            <tr>
                <td class="align-middle text-center"><h1>歡迎使用 TripLook 後台管理系統</h1></td>
            </tr>
        </tbody>
    </table>
</div>
